@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   font-family: 'Rubik', sans-serif;
  }
  
.b {
  background-color: #1E0045 ;
}



button {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.041);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.spline {
  width: 50vw !important;
  margin-left: 50vw !important;
  padding-top: 5vh !important;
}

.pri {
  background: rgb(255,5,237);
  color: rgb(34, 0, 59);
  background: linear-gradient(90deg, rgba(255,5,237,1) 0%, rgba(0,212,255,1) 100%); 
  border: none;  
  font-weight:bolder;
}
